
# Docker Server port

SERVER_PORT=8095

# Web URL

BALLOON_URL=https://balloons.browxy.com

# Docker paths

BASE_PATH=/var/balloon/data/web
MAVEN_SETTINGS_PATH=/home/balloon/.m2/settings.xml
MAVEN_REPO_PATH=/home/balloon/.m2

# Github repository configuration

# github repository name
GITHUB_REPO=

# github repository owner (github username)
GITHUB_OWNER=

# github personal token
GITHUB_TOKEN=

# path to local repository
LOCAL_REPO_PATH=/var/balloon/data/github

# Inventor
BALLOON_INVENTOR=

# web configuration

# name of page builder entry point
ENTRY_POINT=wsprx

# admin token (only admin)
TOKEN=

# Cron task to update passes (optional default: 1:30)

# Hour 0-23
SCHEDULE_RUN_HOUR=

# Minute 0-59
SCHEDULE_RUN_MINUTE=

# configuration ID dev | qa | production 
balloonConfigId=dev

# Browxy conf

VIRTUAL_HOST=

VIRTUAL_PORT=

INSTALL_MODE=

DOCKER_REGISTRY=





